<h1>Angular Nested FormArray / Dynamic FormArray</h1>

<form [formGroup]="empForm" (ngSubmit)="onSubmit()">
<div formArrayName="employees">
  <div *ngFor="let employee of employees().controls; let empIndex=index">
    <div [formGroupName]="empIndex">
      {{empIndex}} First Name:
      <input type="text" formControlName="firstName" />
      <div
      *ngIf="!empForm.controls.firstname?.valid && (empForm.controls.firstname?.dirty
      ||empForm.controls.firstname?.touched)">
        First Name is not valid
    </div>
      Last Name:
      <input type="text" formControlName="lastName" />
      <button (click)="removeEmployee(empIndex)">Remove</button>
      <!-- Skills -->
      <div formArrayName="skills">
        <div
          *ngFor="let skill of employeeSkills(empIndex).controls; let skillIndex=index"
        >
          <div [formGroupName]="skillIndex">
            {{skillIndex}} Skill :
            <input type="text" formControlName="skill" />
            Exp:
            <input type="text" formControlName="exp" />

            <button (click)="removeEmployeeSkill(empIndex,skillIndex)">
              Remove
            </button>
          </div>
        </div>
      </div>
      <button type="button" (click)="addEmployeeSkill(empIndex)">
        Add Skill
      </button>
    </div>
  </div>
</div>
<button type="button" (click)="addEmployee()">Add Employee</button>
<p>
  <button type="submit" >Submit</button>
</p>
</form>
{{this.empForm.value | json}}
