<form #contactForm="ngForm" (ngSubmit)="onSubmit()">
  <p>
    <label for="fname"> First Name</label>
    <input type="text" name="fname" id="fname" [(ngModel)]="contact.fname" required/>
  </p>

  <p>
    <label for="lname"> Last Name</label>
    <input type="text" name="lname" id="lname" [(ngModel)]="contact.lname" />
  </p>

  <p>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" [(ngModel)]="contact.email" />
  </p>

  <p>
    <label for="gender">Gender</label>
    <label>Male</label>
    <input type="radio" value="male" name="gender" id="gender" [(ngModel)]="contact.gender" />
    <label>Female</label>
    <input type="radio" value="female" name="gender" id="gender" [(ngModel)]="contact.gender" />
  </p>

  <p>
    <label for="isMarried">Married</label>
    <input type="checkbox"  name="isMarried" id="isMarried" [(ngModel)]="contact.isMarried"/>
  </p>
  <p>
     <label for="country">Country</label>
     <select id="country" name="country" [(ngModel)]="contact.country">
       <option [ngValue]="c.id" *ngFor="let c of countryList">
         {{c.name}}
       </option>
     </select>
  </p>
  <div ngModelGroup="address">
    <p>
      <label for="city">City</label>
      <input type="text" name="city" id="city" [(ngModel)]="contact.address.city" />
    </p>
    <p>
      <label for="street">Street</label>
      <input type="text" name="street" id="street" [(ngModel)]="contact.address.street" />
    </p>
    <p>
      <label for="pincode">Pincode</label>
      <input type="text" name="pincode" id="pincode" [(ngModel)]="contact.address.pincode" />
    </p>
  </div>
<p>
  <button type="submit">Submit</button>
  <button name="setdefaults" (click)="ngOnInit()">Set Defaults</button>
  <button name="patchexam" (click)="patchValue()">Patch Values</button>
  <button (click)="reset()">Reset</button>
</p>
<b>Valid: </b>{{contactForm.valid}}
<b>Touched: </b>{{contactForm.touched}}
<b>Pristine: </b>{{contactForm.pristine}}
<b>Dirty: </b>{{contactForm.dirty}}
</form>
